/* Write your CSS here! */
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

#mainHeading {
    color: red;
    font-family: Roboto Slab;
    font-size: 60px;
    text-align: center;
    padding: 50px;
}

.bannerImage {
    background-image: url("images/banner_image_2.jpg");
    background-position: center;
    opacity: 60%;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: auto;
    background-position: left center;
    border-bottom: 5px solid black;
}

#headingDes {
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}


h2 {
    color: black;
    font-family: Andale Mono, monospace;
    margin-left: 100px;
    margin-right: 100px;
}

.hiking-des {
    color: rgb(51, 49, 49);
    font-family: Andale Mono, monospace;
    margin-left: 100px;
    margin-right: 100px;
}

.hikingImgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.hikingP {
    color: rgba(51, 53, 60, 0.866);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    display: block;
}

#testP {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    display: block;
}

.footer {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}